spring:
  application:
    name: zuul-service
server:
  port: 9002
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
zuul:
  routes:
    product:
      service-id: ms-product
      path: /api/products/**
    item:
      service-id: ms-item
      path: /api/items/**
    user:
      service-id: ms-user
      path: /api/users/**
    oauth:
      service-id: ms-oauth
      path: /api/security/**
      sensitive-headers: Cookie,Set-Cookie

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 30000

ribbon:
  ConnectionTimeout: 3000
  ReadTimeout: 10000
